{% extends 'base.html' %}
{% load static %}

{% block title %}드리머리 - 서비스 소개{% endblock %}
{% block link %}{% static 'css/introduce.css' %}{% endblock %}

{% block content %}
<div class="jumbotron p-4 p-md-5 text-white rounded bg-dark">
    <div class="col-md-7 px-0">
        <h1 class="display-4 font-bold">드리머리 - 헤어 서비스 O2O</h1>
        <p class="lead my-5">"Dreamary"는 헤어샵 예비 헤어 디자이너와 일반 대중을 연결하는 O2O 플랫폼입니다. 플랫폼을 통해 일반
            소비자들은 예비 헤어 디자이너들의 이력, 포트폴리오, 리뷰, 별점 등을 확인하고 매우 합리적인 가격에 헤어 서비스를 받을 수
            있습니다. "Dreamary"는 지금까지 존재하지 않았던 컨셉의 플랫폼으로, 향후 헤어 시장의 지평에 큰 변화를 가져올 것을 확신합니다.
        </p>
    </div>
</div>
{% endblock %}